#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background{
    width: 750px;
    background-color: #3030eB;
}
body{
    background-color: #009fb7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color: #edae49;
}
nav a:hover{
    background-color: #edae49;
    color: white;
}
.book{
    background-color: rgb(245, 245, 245);
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: rgb(245, 245, 245);
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}
#background{
    background-color: white;
}
.msg{
    background-color: #3030eb;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #edae49;
    color: #3030eb;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: white;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: black;
}
.msg h2{
    color: rgb(245, 206, 173);
}
.msg p{
    color: #edae49;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: #3030eb;
    text-decoration: none;
}
footer a:hover{
    color: #3030eb;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: #000000, 10px;
}
main section img{
    box-sizing: border-box;
}
#hero-img{
    width: 100%;
}
.mountains{
    margin-bottom: 50px;
}
